body{
    background: rgb(165, 138, 81);
    font-size: 13px;
    font-family: "Comic Sans MS", sans-serif;
    text-align: justify;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-shadow: 10px;



}